.title {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
    padding: 0 0 23px 0;
    border-bottom: 1px solid #000000;
    max-width: 1140px;
    width: 100%;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 1279px) {
    .title {
        font-size: 22px;
        line-height: 27px;
    }
}

@media screen and (max-width: 767px) {
    .title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
    }
}
