.search {
    margin: 0 auto;
    padding: 58px 70px 10px;
    box-sizing: border-box;
    max-width: 1280px;
}

.search-form {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
}

.search-form__input {
    width: 100%;
    height: 46px;
    background: #F9F9F9;
    border-radius: 40px;
    border: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    padding: 14px 22px;
    margin: 0;
}

.search-form__input:focus {
    outline: 1px solid rgba(43, 224, 128, 0.5);
    transition: outline 0.5s ease-out;
}

.search-form__submit-button {
    width: 34px;
    height: 34px;
    background-color: #FF6838;
    border: none;
    border-radius: 50%;
    background-image: url('../../images/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    display: flex;
    margin-right: 6px;
}

.search-form__submit-button:hover {
    cursor: pointer;
    opacity: .7;
}

.search-form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 42px 0 70px;
    border-bottom: 1px #E8E8E8 solid;
}

.search-form__switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 1;
}

.search-form__switch-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.search-form__switch-circle {
    z-index: 9;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 34px;
    height: 14px;
    border-radius: 20px;
    transition: all .4s ease;
    cursor: pointer;
    background-color: #ccc;
    margin-top: 3px;
}

.search-form__switch-button {
    z-index: 10;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
    background: #fff;
    box-shadow: 1px 1px 2px #747474;
    margin-top: 5px;
}

.search-form__switch-input:checked ~ .search-form__switch-button {
    background: #fff;
    left: 22px;
    box-shadow: -1px 1px 2px #ccc;
}

.search-form__switch-input:checked ~ .search-form__switch-circle {
    transition: all .4s ease;
    background-color: #2BE080;;
}

.search-form__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0 0 0 12px;
}

.search__line {
    width: 100%;
    size: 1px;
    color: #E8E8E8;
}

@media screen and (max-width: 1279px) {
    .search {
        padding: 80px 30px 10px;
    }

    .search-form__container {
        padding: 42px 0 51px;
    }
}

@media screen and (max-width: 767px) {
    .search {
        padding: 80px 14px 10px;
    }

    .search-form__input {
        padding: 14px 19px;
        font-size: 11px;
    }

    .search-form__text {
        font-size: 11px;
    }
}
