.profile {
    padding: 74px 0 70px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 123px auto 0;
}

.profile__string {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 16px 0;
    border-bottom: 1px #E8E8E8 solid;
}

.profile__string:first-of-type {
    padding-top: 0;
}

.profile__string:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

.profile-form__input {
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
    border: none;
    width: 350px;
}

.profile-form__label {
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.profile__button-edit {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin-top: 20px;
    border: none;
    background: none;
    transition: opacity .2s ease-in;
    cursor: pointer;
}

.profile__button-edit:disabled {
    opacity: .8;
}

.profile__button-edit:hover {
    opacity: .7;
}

.profile__button-exit {
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    margin-top: 16px;
    color: #EE3465;
    border: none;
    background: none;
    transition: opacity .2s ease-in;
    cursor: pointer;
}

.profile__button-exit:hover {
    opacity: .7;
}

.profile-form__error {
    font-size: 11px;
    line-height: 14px;
    color: #FF004C;
    margin: 210px 0 0 0;
    align-self: center;
}

@media screen and (max-width: 1279px) {
    .profile__form {
        margin: 96px auto 0;
    }

    .profile__button-edit {
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .profile {
        padding: 70px 30px 40px;
    }

    .profile__form {
        margin: 80px auto 0;
    }

    .profile__button-edit {
        margin-top: 379px;
    }

    .profile-form__input {
        width: 210px;
    }
}
