.about-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 110px 70px;
    box-sizing: border-box;
}

.about-project__description {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 26px 40px;
    margin-top: 70px;
}

.about-project__subtitle {
    font-size: 20px;
    line-height: 24px;
    text-align: start;
    font-weight: 400;
    margin: 0 0 26px 0;
}

.about-project__text {
    font-size: 14px;
    line-height: 20px;
    text-align: start;
    font-weight: 400;
    margin: 0;
}

.about-project__duration {
    display: flex;
    justify-content: flex-start;
    margin-top: 110px;
}

.about-project__duration-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-project__first-week {
    width: 228px;
    background: #2BE080;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0;
    padding: 9px 14px;
    box-sizing: border-box;
}

.about-project__duration-text {
    color: #A0A0A0;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    text-align: center;
    margin: 14px 0 0 0;
}

.about-project__fourth-weeks {
    width: 912px;
    background: #F2F2F2;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0;
    padding: 9px 356px;
    box-sizing: border-box;
}
