.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 396px;
    padding: 70px;
    min-height: 84vh;
}


@media screen and (max-width: 767px) {
    .login {
        padding: 56px 30px 30px;
        align-items: center;
    }
}
