.techs {
    background: #F5F5F5;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 70px;
    box-sizing: border-box;
}

.techs__subtitle {
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    margin: 90px 0 26px;
}

.techs__text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0 0 100px 0;
    width: 460px;
    text-align: center;
}

.techs__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.techs__item {
    padding: 21px 14px 22px;
    background: #E8E8E8;
    border-radius: 10px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin: 0 10px 0 0;
    min-width: 62px;
    text-align: center;
}

.techs__item:last-of-type {
    margin: 0;
}
