.navtab {
    background: #F5F5F5;
    padding: 24px 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navtab__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navtab__item {
    margin: 0 40px 0 0;
}

.navtab__item:last-of-type {
    margin-right: 0;
}

.navtab__link {
    margin: 0;
    color: #000000;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
}

.navtab__link::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #000000;
    transition: width .3s;
}

.navtab__link:hover::after {
    width: 0;
}


